/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/
/*
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  background-color: transparent;

}
  
.btn-lg {

  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #C88141;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #C88141;
  background-color: #C88141;
  border-color: #C88141;

}

/***********************
  OUTLINE BUTTONS
************************/

/*
.btn-primary.btn-outline {
    color: #428bca;
}

.btn.outline {
    background: transparent;
    padding: 4px 5px;
       transition: all .5s;

}
.btn-primary.outline {
    border: 2px solid #C88141;
    color: #C88141;
    font-weight: 400;
    opacity: .7;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #C88141;
    border-color: #C88141;
    background: transparent;
}

*/

/*
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #C88141;
    color: #C88141;
    box-shadow: none;
}*/

/***********************
  CUSTON BTN VALUES
************************/

.btn-outline {
    background-color: transparent;
    color: inherit;
   	transition: all .5s;
}

.btn-primary.btn-outline {
	background-color: transparent;
	padding-left: 15px;
	border: none;
    color: #C88141;
}

.btn-primary.btn-outline:focus {
	background-color: transparent;
	/*outline:0;*/
        color: #fff;

}


.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	background-color: transparent;
    color: #fff;
}
